<div class="row account-box">
  <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 account-content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2><span class="fa fa-user-circle-o"></span> My Profile</h2>

      </div>
    </div>
  </div>
</div>
