<!-- 商品规格：颜色 -->

<div class='color-circle'>
  <% if @product.colors.present? %>
    <p>
      <%= t('product-color') %>：
      <% @product.colors. each do |color|%>
          <button style='background-color:<%= color.code %>'></button>
      <% end %>
    </p>
  <% end %>
</div>
