

  <div class="footer">
    <div class="container">
  		<div class="row text-left" style="border-bottom-style: solid; border-width: 1px; margin-top:30px;">

        <div class="col-md-3">
  				<h4>关于我们</h4>
  				<p>团队</p>
  				<p>招聘</p>
  				<p>博客</p>
  			</div>

        <div class="col-md-3">
  				<h4>最新资讯</h4>
  				<p>产品支持</p>
  				<p>产品手册</p>
  				<p>产品注册</p>
        </div>

        <div class="col-md-3">
  				<h4>客户服务</h4>
  				<p>帮助中心</p>
  				<p>如何购买</p>
  				<p>送货方式</p>
        	<p>联系我们</p>
        </div>

        <div class="col-md-3">
  				<h4>I AM NOT A ROBOT</h4>
  				<p>Designed by Sam & Dannie</p>
        </div>
      </div>
    </div>

  </div>
